@import "../../../../mixins";
@import "../../../../colors";
.mat-table{
  width: 100%;
  font-family: $fontLora;
  background-color: $backgroundColor;
  border-bottom: none;
  tr:last-child{
    .mat-cell{
      border-bottom: none;
    }
  }
}

.mat-column-quantity {
  width: auto;
  padding: 1rem 2rem;
  text-align: right;
}
.mat-column-name {
  width: auto;
  padding: 1rem 2rem;
  text-align: left;
}

.mat-icon{
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}