<div>
  <div class="flex gap-5 my-5 items-center title-bg-warn px-2 py-3">
    <mat-icon class="">receipt_long</mat-icon>
    <h3 class="title-h5 inline-block">Elkészítése</h3>
  </div>
  
  <table mat-table [dataSource]="recipe?.directions">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;index as i"  class="text-xl"> {{i + 1.}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" class="text-lg"> {{element}} </td>
    </ng-container>
    <!-- <tr mat-header-row *matHeaderRowDef="['position','name']"></tr> -->
    <tr mat-row *matRowDef="let row; columns: ['position','name']"></tr>
  </table>
</div>


