<div class="container mx-auto mt-32 mb-12 px-5 md:px-0">
  <ng-container *ngIf="found; elseBlock">
    <app-divider [title]="recipe.recipeName" [subtitle]="recipe.category.name" ></app-divider>
    <div class="details-divider mt-5"></div>

    <div class="flex flex-row justify-between py-5 details-divider-small header-info italic text-base">
        <div class="mx-2 basis-1/8">
          <img class="rounded-full border mr-5" [src]="recipe.creator.avatar === '' ? 'assets/img/empty-profile.png':recipe.creator.avatar" alt="" width="120">
        </div>
        <div class="basis-1/2 ml-5">
          <div>Beküldője: {{recipe.creator.name}}</div>
          <div class="rating-lead">Értékelése:
            <ng-container *ngFor="let rv of [].constructor(5); let i = index">
            
              <span class="normal-case non-italic" *ngIf="i < recipe.averageRating()">&#9733;</span>
              <span class="normal-case non-italic" *ngIf="i >= recipe.averageRating()">&#9734;</span>
            </ng-container>
          </div>
          <div>Beküldve: {{recipe.created | date:'yyy. MM. dd. hh:ss a'}}</div>
        </div>
        <div class="basis-full text-right social">
          <div>
            <button (click)="shareFacebook()" mat-stroked-button color="">
              <mat-icon svgIcon="facebook"></mat-icon>
            </button>

            <button (click)="shareTwitter()" mat-stroked-button color="">
              <mat-icon svgIcon="twitter"></mat-icon>
            </button>
            <button (click)="shareMail()" mat-stroked-button color="">
              <mat-icon>mail_outline</mat-icon>
            </button>
            <button (click)="print()" mat-stroked-button color="">
              <mat-icon>print</mat-icon>
            </button>
          </div>

          <div *ngIf="user && recipe.creator.id != user.userId">
            <button  *ngIf="!isFav" mat-stroked-button color="warn" (click)="setFav()">
              <mat-icon>favorite_outline</mat-icon>
            </button>
            <button  *ngIf="isFav" mat-stroked-button color="warn" (click)="unsetFav()">
              <mat-icon>heart_broken</mat-icon>
            </button>
          </div>
        </div>
    </div>
    
    <div class="grid-container grid grid-cols-1 lg:grid-cols-2 gap-20">
      <div class="basis-1/3 flex flex-col">
        <app-recipe-header [recipe]="recipe"></app-recipe-header>
    
    
        <app-recipe-ingredients [recipe]="recipe"></app-recipe-ingredients>
    
        <app-recipe-nutrition [recipe]="recipe"></app-recipe-nutrition>
      </div>
      <div class="basis-1/3 flex flex-col">
        <app-recipe-directions [recipe]="recipe"></app-recipe-directions>
        <app-recipe-similar [recipe]="recipe"
        [similarRecipes]="similarRecipes"></app-recipe-similar>
    
        <app-recipe-ratings [recipe]="recipe"></app-recipe-ratings>
        <app-recipe-reviews [recipe]="recipe"></app-recipe-reviews>
      </div>
    
    
    
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="h-screen">
      <h2 class="title-h4">A recept nem található</h2>
    </div>
  </ng-template>
  </div>
  
  
