<div class="container mx-auto mt-48">
  <app-divider [title]="recipe.recipeName" [subtitle]="recipe.categoryName(dataService.categoryList)" ></app-divider>
  <div class="details-divider"></div>
  <!-- <h4 class="title-h3 text-center pb-3 details-divider">{{recipe.recipeName}}</h4> -->
  <div class="flex flex-row justify-between py-5 details-divider-small">
    <div>USER INFO</div>
    <div>EGYÉB INFO</div>
  </div>

  <!-- <div class="grid grid-rows-6 lg:grid-rows-3 lg:grid-cols-2 grid-container"> -->
  <div class="grid-container">
    <div>
      <app-recipe-header [recipe]="recipe" class="border p-5"></app-recipe-header>
    </div>
    <div>
      <app-recipe-nutrition [recipe]="recipe" class="border p-5"></app-recipe-nutrition>
    </div>
    <div>
      <app-recipe-ingredients [recipe]="recipe" class="border p-5"></app-recipe-ingredients>
    </div>
    <div>
      <app-recipe-directions [recipe]="recipe" class="border p-5"></app-recipe-directions>
    </div>
    <div>
      <app-recipe-similar [recipe]="recipe" class="border p-5"></app-recipe-similar>
    </div>
    
    <div>
      <app-recipe-ratings [recipe]="recipe" class="border p-5"></app-recipe-ratings>
    </div>

  </div>
  <!-- <p>details works! ID: {{selectedId}}</p>
  <p></p> -->
</div>

