@import "../../../mixins";
@import "../../../colors";

.details-divider{
  border-bottom: 4px solid $textColorMuted;
}
.details-divider-small{
  border-bottom: 2px solid $textColorMuted;
}
.grid-container {
  column-count: 1;
  column-gap: 0;
  row-gap: 0;
}

.header-info{
  font-family: $fontLora;
  
  // @include lora-italic;
}
.rating{
  font-style: normal;
  font-size: 1.4rem;
  color: #ffd740;
}

.rating-lead{
  @include lora-italic;
  font-size: 1rem;
}

@media screen and (min-width: 1024px){
  .grid-container {
  // column-count: 2;
  columns: 2;
  // column-gap: 10px;
}
.grid-container>div{
  display: flex;
  flex-direction: column;
  // grid-template-rows: 1fr auto;
  break-inside: avoid;
}
}


