@import "../../../mixins";
@import "../../../colors";

.details-divider {
  border-bottom: 4px solid $textColorMuted;
}
.details-divider-small {
  border-bottom: 2px solid $textColorMuted;
}

.social button {
  margin: 0 0 0.25rem 0.25rem;
}

.header-info {
  font-family: $fontLora;
}
.rating {
  font-style: normal;
  font-size: 1.4rem;
  color: #ffd740;
}

.rating-lead {
  @include lora-italic;
  font-size: 1rem;
}
