<div class="container mt-56 mx-auto">
  <div class="flex flex-col mb-32 h-full mx-4 lg:mx-0">
  <h3 class="title-h3">Adatvédelmi tájékoztató</h3>
  <div class="underline-thin my-10"></div>
<h4 class="title-h6">Melyek azok a személyes adatok amiket gyűjtünk, és milyen céllal gyűjtjük azokat?</h4>
<br>
<div><b>Receptfüzet: </b>
  <ul class="ml-10 list-disc">
    <li>A receptfüzet használatához regisztráció szükséges, ahol elkérjük az e-mail címed is.</li>
    <li>Az e-mail címedre azért van szükségünk, hogy később, ha véletlen elfelejtenéd a jelszavad, tudjunk neked újat küldeni.</li>
    <li>Az e-mail címedet harmadik fél részére NEM adjuk ki.</li>
    <li>Valamint NEM küldünk sem reklám-, sem hírlevelet, hacsak nem kéred.</li>
  </ul>
</div><br>


<div>
  <b>Recept feltöltés</b>
  <ul class="ml-10 list-disc">
    <li>Ha receptet küldesz nekünk, szintén szükségünk van az e-mail címedre, hogy értesíteni tudjunk a recepteddel kapcsolatos történésekről, valamint ha valamit hiányolunk a receptből meg tudjunk keresni.</li>
  </ul>
  
</div><br>

<div>
  <b>Személyes adat/személyes adat törlése</b>
  <ul class="ml-10 list-disc">
    <li>Amennyiben már nem kívánsz tagja lenni az oldalunknak, bármikor törölheted a regisztrációd, ha írsz egy emailt a <b>mozvik@yahoo.com</b>-ra.</li>
    <li>Ha szeretnéd megnézni, hogy milyen adatokat tárolunk rólad, írj a fenn említett e-mail címre és Mi szívesen elküldjük neked.</li>
  </ul>
  
</div><br>

<div>
  
  <b>Sütik</b>

  Az oldal alapvető működése érdekében, statisztikai, valamint marketing céllal sütiket használunk. Melyek használatát letilthatod a böngészőbben az alábbi módokon.  ( <a href="https://hu.wikipedia.org/wiki/HTTP-s%C3%BCti" target="_blank">Bővebb információ a sütikről</a> )
  <ul class="ml-10 list-disc">
    <li>
        <a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=hu" target="_blank">Google Chrome</a>
      </li>
      <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&hl=hu" target="_blank">Chrome Android</a></li>
      <li><a href="https://support.mozilla.org/hu/kb/sutik-engedelyezese-es-tiltasa-amit-weboldak-haszn" target="_blank">Firefox</a></li>
      <li><a href="https://support.microsoft.com/hu-hu/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Microsoft Edge, valamint Internet Exploler</a></li>
      <li><a href="https://support.apple.com/kb/index?page=search&q=cookies%20safari&product=&doctype=&currentPage=1&includeArchived=false&locale=en_US&src=support_serp" target="_blank">Safari macOS</a></li>
      <li><a href="https://support.apple.com/hu-hu/HT201265" target="_blank">Safari iOS</a></li>
  </ul><br>
  
 
  <b>Külső szolgáltatók által használt sütik, illetve leírásaik</b>
  <ul class="ml-10 list-disc">
    <li><a href="https://policies.google.com/privacy?hl=hu&gl=hu" target="_blank">Google</a></li>
    <li><a href="https://adverticum.net/szolgaltatasaink/adserver/opt_out/" target="_blank">Adverticum</a></li>
    <li><a href="http://www.gemius.hu/cookie-szabalyok.html" target="_blank">Gemius</a></li>
    <li><a href="https://www.facebook.com/business/gdpr" target="_blank">Facebook</a></li>
  </ul><br>
  
  <p>
    Más honlapokról származó beágyazott tartalmak,
    a honlapon elérhető bejegyzések külső forrásból származó beágyazott tartalmakat (pl. videók, képek, cikkek stb.) használhatnak. A külső forrásból származó beágyazott tartalmak pontosan úgy viselkednek, mintha meglátogattunk volna egy másik honlapot.</p>
  
  <p>Ezek a webhelyek lehetséges, hogy adatot gyűjtenek a látogatókról, sütiket vagy harmadik féltől származó követőkódot használnak, figyelik a beágyazott tartalommal kapcsolatos felhasználói viselkedést, ha rendelkezünk felhasználói fiókkal és be vagyunk jelentkezve az oldalra.</p>
</div>

</div></div>
