@import '../../../colors.scss';
@import '../../../mixins.scss';

.img-overlay {
  @include lora-italic;
  font-size: 1.1rem;
  pointer-events: none;
}
.card-image img{
  width: 358px;
  height: 220px;
  object-fit: cover;  
  transition: all .4s ease;
}
.card-image{
  position: relative;
  background: var(--textColor);
  color: var(--backgroundColor);
  overflow: hidden;
}

.card-image:hover img{

  opacity: .4;
  transform: scale(1.05);
  transition: all .4s ease;
}