@import "../../../mixins";
@import "../../../colors";

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: $backgroundColor;
  @include lora;
  form {
    min-height: 400px;
  }
}

button.spec {
  width: 40px;
  height: 40px;
  margin-bottom: 1.25rem;
  margin-left: 0.25rem;
}

.uploaded-card {
  border-bottom: 1px solid rgba($textColor, 0.2);
  max-width: 360px;
}
.card-image {
  width: 360px;
  height: 220px;
  object-fit: cover;
}
