<!-- [disabled]="disabledInput" -->
<!-- [formControlName]="formControlName" -->




 
  <input
  
  type="file"
  [multiple]="multiple"
  [accept]="accept"
  hidden
  [formControl]="formControl"
  [required]="required"
  #ng_mat_file_input
  (change)="handleFileInputChange($event)"
  (blur)="registerOnTouched(null)"/>


<div class="ngx-mf-toolbar">
  <div>
    <button *ngIf="showButtonBrowse"
    mat-flat-button color="primary"
    (click)="ng_mat_file_input.click()">{{buttonBrowseText}}</button>
    <button *ngIf="showButtonUpload"
    mat-flat-button color="primary"
    [disabled]="  fileCount() === 0 ||
                  fileCount() > maxFileCount "
    (click)="aaa(ng_mat_file_input)">{{buttonUploadText}}</button>
    <div *ngIf="fileCount() > maxFileCount" 
    class="ngx-mf-error">
      <div>{{invalidMaxFileCountMessage}}</div>
    </div>
  </div>
  <div>
    <button mat-flat-button color="warn"
    [disabled]="fileCount() === 0"
    (click)="removeAllFiles()"
    >{{buttonRemoveAllText}}</button>
  </div>
</div>


<div class="ngx-mf-dropzone" >
  <div *ngFor="let item of fileDetails; index as i" >
    <div class="ngx-mf-img-card">
      <div class="ngx-mf-img-card-header">
        <div>{{fileDetails[i].name}}</div>
        <button mat-icon-button color="warn"
        (click)="removeFile(i, ng_mat_file_input)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div *ngIf="
        !fileSizeValid(fileDetails[i].size)">
        <div class="ngx-mf-error">
          <p>{{invalidFileSizeMessage}}</p>
        </div>
      </div>
      <div *ngIf="
        !fileTypeValid(fileDetails[i].type)">
        <div class="ngx-mf-error">
          <p>{{invalidFileTypeMessage}}</p>
        </div>
      </div>

      <div *ngIf="
        fileSizeValid(fileDetails[i].size &&         fileTypeValid(fileDetails[i].type))"
        class="">
        <img 
        [src]="item.result" [alt]="item" [style]="previewHeight" style="border: none;">
      </div>
      <div class="ngx-mf-img-card-footer">
        <div>{{fileDetails[i].size | number: '1.0-2'}} MB</div>
      </div>
    </div>
  </div>
  <div *ngIf="fileCount() === 0" class="ngx-mf-dragndrop"><h3>{{dragAndDropText}}</h3></div>
</div>
