<app-search 
  (closed)="$event ? dataService.searchIsOpen=false:''" [isSearchOpen]="dataService.searchIsOpen">
</app-search>

<div id="navPlaceholder" class="container d-block d-lg-none bg dark"
 style="width: 100%; height: 60px;">
</div>
<div class="curtainOverlay d-block d-lg-none" [class]="isOpen? 'curtainOverlayOpen':''" (window:keydown.escape)="isOpen=false" (click)="isOpen=false">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus porro nisi quibusdam numquam quos, possimus commodi corrupti. In sed ipsam cupiditate, quam error eum id saepe repudiandae qui quo.
  Velit culpa nemo molestiae amet ut illum. Necessitatibus recusandae minus praesentium, tempora delectus optio non quasi ut assumenda maxime impedit vitae cum similique a, neque ullam quia earum quisquam molestias!
  Perferendis quis hic dicta, at quae aut maiores fugit voluptatibus voluptates, a dolorem eos perspiciatis dolores. Est voluptatibus impedit iure illum quas, nihil repellat. Ullam delectus rerum nesciunt odit at!</div>
</div>

<!-- (keydown.escape)="drawer.close()" -->
<div class="container-fluidp-0 d-block d-lg-none"  >
  <mat-toolbar color="warn" class="position-fixed top-0 start-0 d-flex justify-content-between mat-elevation-z3" style="width: 100%; height: 60px;">
    <!-- <button mat-icon-button (click)="drawer.toggle();dataService.advancedSearchIsOpen = false" [disableRipple]="true"><mat-icon style="font-size: 2rem;">menu</mat-icon></button> -->
    <div class="" style="width: 50px; height: 50px" (click)="isOpen = !isOpen">
      <img
        src="./assets/img/logo_ff7055_50.png"
        alt=""
        class=""
      />
    </div>
    <!-- <button mat-icon-button (click)="drawer.close();showAdvancedSearch()" [disableRipple]="true"><mat-icon style="font-size: 2rem;">search</mat-icon></button> -->
  </mat-toolbar>
  <!-- <mat-drawer-container id="ss" color="warn" (keydown.escape)="drawer.close()" class="position-fixed" [hasBackdrop]=true autosize style="width: 100%; height:100vh; background: transparent;">
    <mat-drawer #drawer id="ff" position="start" class="position-relative" mode="push" style="width: 50vw; height:100vh;"
    (closedStart)="isOpen = false"
    (openedStart)="isOpen = true"
    >
          

      
      <nav id="mobileNavbar" 
      [@inOut]="isOpen ? true:false" 
      >

        <ul class="navbar-nav px-5 my-5 d-flex flex-column align-items-start">
          <li class="nav-item px-lg-5 slidein">
            <button mat-button
              class="nav-link active text-uppercase my-1 p-lg-4"
              aria-current="page"
              routerLink="/home"
              id="homeLink"
              >Főoldal</button>
          </li>
          <li
            class="nav-item dropdown px-lg-5 slidein">
            <button  (click)="isSubmenuCollapsed = !isSubmenuCollapsed"
            mat-button
              class="nav-link
                text-uppercase
                my-1 p-lg-4
              "
              href="#"
              role="button"
              data-bs-toggle=""
              aria-expanded="false"
            >Receptek<mat-icon [@chevronRotate]="isSubmenuCollapsed">
              arrow_drop_down
              </mat-icon></button>
          </li>
          <ul *ngIf="isSubmenuCollapsed" [@collapseSubmenu]
          class="nav-item ps-2 d-flex flex-column align-items-start text-right">
            <li class="nav-link"><button mat-button>Előételek</button></li>
            <li class="nav-link"><button mat-button>Levesek</button></li>
            <li class="nav-link"><button mat-button>Főételek</button></li>
            <li class="nav-link"><button mat-button>Köretek</button></li>
            <li class="nav-link"><button mat-button>Desszertek</button></li>
            <li class="nav-link"><button mat-button>Italok</button></li>
          </ul>
        
          <li class="nav-item px-lg-5 slidein">
            <button mat-button
              class="nav-link my-1 p-lg-4 text-uppercase"
              routerLink="/upload"
              (click)="isOpen=false"
              tabindex="-1"
              aria-disabled="true"
              >Receptfeltöltés</button>
          </li>
          <li class="nav-item px-lg-5 slidein">
            <button mat-button
              class="nav-link my-1 p-lg-4 text-uppercase"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Mi van otthon?</button>
          </li>
        
        </ul>
      </nav>
      
      
    </mat-drawer>
   
  </mat-drawer-container> -->
</div>

<div 
(window:scroll)="onScroll($event)"
class="container-xxl d-none d-lg-block" id="navContainer"
[class]="isNavScrollFixed ? 'navScroll' : ''"
[@navbarDown]="isNavScrollFixed"
>
  <!-- <nav id="mobileNavbar" class="d-none navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="container-xxl d-flex justify-content-between p-0">
        <button
        class="navbar-toggler" type="button" >
          <i
          (click)="toggleBurger()" 
          [class]="isOpen ? 'pi pi-times':'pi pi-bars'"
          class="p-0"
          style="font-size: 32px; width: 32px;"></i>
        </button>

        <div class="" style="width: 50px; height: 50px">
          <img
            src="./assets/img/logo_ff7055_50.png"
            alt=""
            class=""
          />
        </div>
        
        <button 
        (click)="showAdvancedSearch()"
        class="navbar-toggler " type="button" 
        [disabled]="isOpen ? 'disabled':''">
          <i class="pi pi-search"
          style="font-size: 32px;"></i>
        </button>
      </div>
    </div>
  </nav> -->
    
  <div class="container-xxl d-flex flex-column justify-content-between " id="bothBars">
    <nav id="userNavbar" class="navbar navbar-expand-lg mb-5 pb-5 mb-lg-0 py-lg-0 order-2 order-lg-1">
      <div class="container-fluid">
        <div class="container-xxl" id="userBackground">
          <div class="row align-items-center">
            <ul class="order-2 order-lg-1 navbar-nav col-lg-6 d-flex flex-row justify-content-start ">
              <li><button mat-icon-button><mat-icon svgIcon="facebook"></mat-icon></button></li>
              <li><button mat-icon-button><mat-icon svgIcon="twitter"></mat-icon></button></li>
              <li><button mat-icon-button><mat-icon svgIcon="instagram"></mat-icon></button></li>
            </ul>
            <div class="col-lg-6 order-1 order-lg-2 mb-3 mb-lg-0 p-0">
              <ul class="navbar-nav justify-content-start justify-content-lg-end flex-row align-items-center">
                <li *ngIf="dataService.user.id!=''" class="">
                  <button mat-icon-button><mat-icon>notifications_none</mat-icon></button>
                </li>
                <li *ngIf="dataService.user.id==''"><button mat-icon-button
                routerLink="/login"
                (click)="isOpen=false"
                  ><mat-icon>login</mat-icon>
                </button>
                 
                </li>
                <li *ngIf="dataService.user.id!=''">
                  <button mat-icon-button 
                  routerLink="/login"
                  (click)="isOpen=false"
                  ><mat-icon>person_outline</mat-icon></button>
                </li>
                <li class="">
                  <button mat-icon-button 
                  (click)="showAdvancedSearch()"
                  ><mat-icon>search</mat-icon></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <nav id="mainNavbar" class="navbar navbar-expand-lg  order-1 order-lg-2">
      <div class="container-fluid">
        <div class="container-xxl">
          <div class="row align-items-center">
            <div class="col-lg-12">

             


              <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3 mt-lg-0 justify-content-start justify-content-lg-center "> 
                <li class="nav-item px-lg-5 slidein">
                  <button mat-button
                    class="nav-link active text-uppercase my-1 p-lg-4"
                    aria-current="page"
                    routerLink="/home"
                    id="homeLink"
                    >Főoldal</button>
                </li>
                <li
                  (click)="dataService.displaySize <= 2 ?dropdownShow = !dropdownShow:''"
                  class="nav-item dropdown px-lg-5 slidein">
                  <button mat-button
                    class="nav-link
                      dropdown-toggle
                      text-uppercase
                      my-1 p-lg-4
                    "
                    href="#"
                    role="button"
                    data-bs-toggle=""
                    aria-expanded="false"
                    #recipeDropdown
                    [matMenuTriggerFor]="recipeMenu"
                  >Receptek</button>
                </li>
                <mat-menu #recipeMenu="matMenu" xPosition="after"
                >
                  <button mat-menu-item>Előételek</button>
                  <button mat-menu-item>Levesek</button>
                  <button mat-menu-item>Főételek</button>
                  <button mat-menu-item>Köretek</button>
                  <button mat-menu-item>Desszertek</button>
                  <button mat-menu-item>Italok</button>
                </mat-menu>
               
                <li class="nav-item px-lg-5 slidein">
                  <button mat-button
                    class="nav-link my-1 p-lg-4 text-uppercase"
                    routerLink="/upload"
                    (click)="isOpen=false"
                    tabindex="-1"
                    aria-disabled="true"
                    >Receptfeltöltés</button>
                </li>
                <li class="nav-item px-lg-5 slidein">
                  <button mat-button
                    class="nav-link my-1 p-lg-4 text-uppercase"
                    href="#"
                    tabindex="-1"
                    aria-disabled="true"
                    >Mi van otthon?</button>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
    
</div>
<div id="navPlaceholderBottom" class="container d-block bg dark">
</div>




<!-- <div id="mobileOverlay"
[style]="isOpen && dataService.displaySize<=2 ? 'width:100vw; transition: all .8s ease;':'width:0; transition: all .5s ease;'"
>
</div> -->






