p, form, input, label, small, ul {
  font-family: 'Lora', sans-serif;
  font-size: 1.15rem;
}
button{
  font-family: 'Oswald', serif!important;
  letter-spacing: .1rem;
}
.input-help{
  font-family: 'Merriweather Sans', serif!important;
  font-size: .9rem;
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 992px) {
  p, form, input, label, small, ul {
    font-size: 1.35rem;
  }
}