#desktopBar{
  padding-top: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 2;
}

#desktopBar.toolbarScroll{
  position: fixed;
  top: -124px;
  background: var(--backgroundColor);
  margin-bottom: 0; 
  z-index: 2; 
  /* transition: all 0.4s ease-in-out; */
}
/* #navPlaceholderBottom{
  margin-top: -124px;
}  */