<!-- <p>profile works! index: {{userPageIndex}}</p> -->
<div class="container mx-auto mt-48">
  <mat-tab-group dynamicHeight mat-align-tabs="center"
  class="title-h4"
  [(selectedIndex)]="dataService.activeProfileTab"
  animationDuration="600ms">
    <mat-tab label="Profilom">
      <app-user-profile [user]="userID"></app-user-profile>
    </mat-tab>
    <mat-tab label="Saját receptek">
      <app-user-recipes
      [user]="userID"
      [userRecipes]="userRecipes"
      (userPageIndexChange)="userPageIndexChanged($event)"
      ></app-user-recipes>
    </mat-tab>
    <mat-tab label="Kedvenceim">
      <app-user-favorites [user]="userID"></app-user-favorites>
    </mat-tab>
  </mat-tab-group>
</div>