<div class="container mx-auto mt-48 min-h-[85vh]">
  <mat-tab-group dynamicHeight mat-align-tabs="center"
  class="title-h4"
  [(selectedIndex)]="activeProfileTab"
  animationDuration="600ms">
    <mat-tab label="Profilom">
      <app-user-profile [user]="user"></app-user-profile>
    </mat-tab>
    <ng-container *ngIf="user?.role=='1'">
      <mat-tab label="Felhasználók kezelése">
        <app-manage-users
        [userList]="userList"
        (userPageIndexChange)="userPageIndexChanged($event)"
        ></app-manage-users>
      </mat-tab>
      <mat-tab label="Értékelések moderálása">
        <app-manage-reviews
        [userList]="userList"
        (userPageIndexChange)="userPageIndexChanged($event)"
        ></app-manage-reviews>
      </mat-tab>
      <mat-tab label="Receptek moderálása">
        <app-manage-recipes
        [userList]="userList"
        (userPageIndexChange)="userPageIndexChanged($event)"
        ></app-manage-recipes>
      </mat-tab>
    </ng-container>
    <ng-container *ngIf="user?.role!='1'">
      <mat-tab label="Saját receptek">
      <app-user-recipes
      [user]="userID"
      [userRecipes]="userRecipes"
      (userPageIndexChange)="userPageIndexChanged($event)"
      ></app-user-recipes>
      </mat-tab>
      <mat-tab label="Kedvenceim">
        <app-user-favorites 
        [user]="userID"
        [userFavorites]="userFavorites"
        (userPageIndexChange)="userPageIndexChanged($event)"
        ></app-user-favorites>
      </mat-tab>
    </ng-container>
    
  </mat-tab-group>
</div>