@import "../../../colors";
@import "../../../mixins";

.container{
  border-top: 1px solid $textColorMuted;
  color: $textColor;
  background-color: $backgroundColor;
}

button{
  @include oswald;
  letter-spacing: .05rem;
}
::ng-deep  .mat-form-field-label, .mat-input-element::placeholder, .mat-focused {
  color: $textColorMuted!important;
}
::ng-deep .mat-checkbox-frame { 
  border-color: grey!important;
}

li:hover{
  cursor: pointer;
}