<app-search 
  (closed)="$event ? dataService.searchIsOpen=false:''" [isSearchOpen]="dataService.searchIsOpen">
</app-search>



<!-- <div id="navPlaceholder" [style.height]="dataService.displaySize > 2 ? '128px':'56px'">
</div> -->

<div id="desktopBar" class="container hidden lg:block mx-auto pt-0 absolute top-0 left-0 right-0 w-full z-10" 

(window:scroll)="onScroll($event)"
[@toolbarSlideDown]="toolbarDown"
[class.toolbarScroll]="toolbarDown">
  <mat-toolbar id="userBar"
  class="flex flex-row justify-between w-100">
      <img src="./assets/img/pot.png"
          alt=""
          width="80" id="pot"
          class=""/>
      <img src="./assets/img/flame.png"
          alt=""
          width="50" id="flame"
          class=""/>
  </mat-toolbar>
  <mat-toolbar id="mainBar" class="flex flex-row justify-between w-100">

    <ul class="flex flex-row justify-between">
      <li class="">
        <button mat-button
          class=""
          aria-current="page"
          routerLink="/home"
          id="homeLink"
          >Főoldal</button>
      </li>
      <li class="">
        <button mat-button
          class=""
          role="button"
          data-bs-toggle=""
          aria-expanded="false"
          #recipeDropdown
          [matMenuTriggerFor]="recipeMenu"
          (menuOpened)="dropdownCollapsed = false"
          (menuClosed)="dropdownCollapsed = true"
        >Receptek<mat-icon [@chevronRotate]="!dropdownCollapsed">
          arrow_drop_down
          </mat-icon></button>
      </li>
      <mat-menu #recipeMenu="matMenu" xPosition="after"
      >
        <button mat-menu-item>Előételek</button>
        <button mat-menu-item>Levesek</button>
        <button mat-menu-item>Főételek</button>
        <button mat-menu-item>Köretek</button>
        <button mat-menu-item>Desszertek</button>
        <button mat-menu-item>Italok</button>
      </mat-menu>
    
      <li class="">
        <button mat-button
          class=""
          routerLink="/upload"
          (click)="'isOpen=false'"
          tabindex="-1"
          aria-disabled="true"
          >Receptfeltöltés</button>
      </li>
      <li class="">
        <button mat-button
          class=""
          routerLink="/fridge"
          tabindex="-1"
          aria-disabled="true"
          >Mi van itthon?</button>
      </li>
    
    </ul>
    <ul class="flex flex-row ml-auto">
      <!-- <li><button mat-icon-button><mat-icon svgIcon="facebook"></mat-icon></button></li>
      <li><button mat-icon-button><mat-icon svgIcon="twitter"></mat-icon></button></li>
      <li><button mat-icon-button><mat-icon svgIcon="instagram"></mat-icon></button> | </li> -->
      <li *ngIf="dataService.user.id!=''" class="">
        <button mat-icon-button><mat-icon>notifications_none</mat-icon></button>
      </li>
      <li *ngIf="dataService.user.id==''"><button mat-icon-button
      routerLink="/login"
      (click)="'isOpen=false'"
        ><mat-icon>login</mat-icon>
      </button>
    
      </li>
      <li *ngIf="dataService.user.id!=''">
        <button mat-icon-button
        routerLink="/login"
        (click)="'isOpen=false'"
        ><mat-icon>person_outline</mat-icon></button>
      </li>
      <li class="">
        <button mat-icon-button
        (click)="dataService.toggleSearch()"
        ><mat-icon>search</mat-icon></button>
      </li>
    </ul>
 
  </mat-toolbar>
</div>

<div id="mobileBar" class="container fixed top-0 left-0 right-0 mx-auto z-10 lg:hidden min-w-full">
 
  <mat-toolbar>
   <div class="container flex flex-row justify-between  min-w-full">
    <button mat-icon-button (click)="dataService.toggleSidenav()" [disableRipple]="true"><mat-icon style="font-size: 2rem;">menu</mat-icon></button>
    <div class="relative" id="mobileImgWrapper" style="width: 50px; height: 50px" (click)="'isOpen = !isOpen'">
      <img src="./assets/img/pot.png"
          alt=""
          width="50" id="potMobile"
          class=""/>
      <img src="./assets/img/flame.png"
          alt=""
          width="30" id="flameMobile"
          class=""/>
    </div>
    <button mat-icon-button (click)="dataService.toggleSearch()" [disableRipple]="true"><mat-icon style="font-size: 2rem;">search</mat-icon></button>
   </div>
   
    
  </mat-toolbar>
</div>

