@import "../../../../colors";
@import "../../../../mixins";

.avatar{
  border-color: $orangeRedDark;
}

.username{
  font-family: $fontSource;
  font-size: 1.5rem;
}

.date{
  font-family: $fontLora;
  font-size: 1.0rem;
  font-style: italic;
}

.list{
  font-family: $fontLora;
  font-size: 1.0rem;
}

