@import "../../../mixins";
@import "../../../colors";

.diviLeft{
  @include dancing;
  transform: translate(-60%,21%);
  >div{
    font-size: 2.0rem;
    opacity: .4;
    color: $textColor;
  }
}
.diviRight{
  @include poppins;
  transform: translate(20%,-21%);
  >div{
    font-size: 2rem;
    color: $textColor;
   }
}

img{
  height: 100%;
  opacity: .5;
}

@media screen and ( min-width: 768px ){
  .diviLeft{
    >div{
      font-size: 3.5rem;
    }
  }
  .diviRight{
    >div{
      font-size: 3rem;
    }
  }
}