@import "../../../mixins";
@import "../../../colors";

.nav-item button{
  @include source-upper;
}
.nav-link button{
  @include source;
}
.filter-item{
  @include lora;
  width: 75%;
}
#searchSubmit{
  @include source;
  padding: 0 3.5rem;
  margin: 1rem;
}

#s-modal {
  top:60px;
  left: 50%;
  padding-top: 0rem;
  position: fixed;
  transform-origin: center;
  width: 100%; 
  height: 140vh; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(10, 10, 10, .4);
  z-index: 18;
  transform: translate(-50%,0);
}
#s-content {
  background: $backgroundColor;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 992px) {
  #s-modal  {
    top: 0;
    left: 0;
    padding: 100px;
    max-width: 100vw;
    transform: translate(0,0);
    > div{
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}