<h1 mat-dialog-title class="mat-typography">
  Add meg az email címed a jelszavad helyreállításához.
</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field
      hideRequiredMarker
      color="primary"
      class="flex flex-col mb-10 w-full"
    >
      <input
        id="email2"
        type="email2"
        name="email2"
        placeholder="Email cím"
        aria-describedby="input-help"
        [formControl]="email2"
        matInput
      />
      <mat-error *ngIf="email2?.errors?.['emailApi']"
        >{{apiError?.['email']}}</mat-error
      >
      <mat-error
        *ngIf="email2?.errors?.['required'] && (email2?.dirty || email2?.touched)"
        class="input-help text-danger"
        >&nbsp;Kötelező kitölteni</mat-error
      >
      <mat-error
        *ngIf="!email2?.errors?.['required'] && !email2?.errors?.['emailApi'] && email2?.errors && email2?.dirty && email2?.touched"
        >&nbsp;Rossz email formátum</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="flex flex-row justify-between">
  <button mat-stroked-button color="primary" [mat-dialog-close]="false">
    Mégsem
  </button>
  <button
    mat-stroked-button
    color="primary"
    [disabled]="email2.invalid || isLoading"
    (click)="checkEmail()"
  >
    Küldés
  </button>
</div>
