
<style>
  
  :host {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-size: 14px;
    color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Merriweather Sans", sans-serif!important;

  }

/* :host ::ng-deep .p-multiselect{
    width: 100%;
} */

:host ::ng-deep .p-multiselect-label{
  padding: 0.30rem;
}
/* :host ::ng-deep .p-dropdown-label{
  padding: .30rem;
} */
/* :host ::ng-deep  .p-inputtext, ::ng-deep .p-dropdown-label{
  padding-top: 0.30rem;
  padding-bottom: .30rem; */
  
  
  /* font-style: italic; */
/* } */
/* :host ::ng-deep  .p-component,  ::ng-deep .p-dropdown-label{
  font-family: 'Lora', serif;
  font-size: 1.15rem;
}
:host ::ng-deep .p-button-label{
  font-family: 'Oswald', serif!important;
  letter-spacing: .1rem;
} */

</style>


<div 
(window:resize)="onResize()"
class="container lg:mx-auto w-max">
  <app-toolbar></app-toolbar>
  <app-sidebar></app-sidebar>
  <div>
    <h1 class="text-3xl font-bold underline">
      Hello world!
    </h1>
    footer
  </div>
</div>




