
<style>
  
  :host {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-size: 14px;
    color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/* :host ::ng-deep .p-multiselect{
    width: 100%;
} */

:host ::ng-deep .p-multiselect-label{
  padding: .30rem;
}
:host ::ng-deep  .p-inputtext{
  padding-top: .30rem;
  padding-bottom: .30rem;
  
  
  /* font-style: italic; */
}
:host ::ng-deep  .p-component{
  font-family: 'Lora', serif;
  font-size: 1.15rem;
}

</style>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
