<div class="container mx-auto relative px-3 lg:px-0">
  <div class="flex flex-col items-center justify-center wrapper w-full lg:w-1/2 lg:ml-auto mt-64 mb-32 p-20" >
    <div class="absolute -top-24 lg:top-28 left-0"><img src="../../../assets/img/cinnamon.png" alt="" class="w-1/2 lg:w-3/4 2xl:w-full filter drop-shadow-xl"></div>
    <h4 class="title-h4 mb-12 text-center">Felhasználói fiók létrehozása</h4><br>
    
    <form action="" 
    [formGroup]="registerFormGroup"
    class="flex flex-col">
      <mat-form-field class="flex flex-col"
      hintLabel="Max 10 characters"
        appearance="legacy">
        <input id="email" type="email" name="email" placeholder="Email cím" aria-describedby="input-help" matInput formControlName="email" #inputEmail/>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-icon matPrefix>phone</mat-icon>
        <mat-hint align="end">{{inputEmail.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="registerFormGroup.get('email')?.invalid">Hiba</mat-error>
      </mat-form-field>
      <div class="flex flex-col">
        <mat-form-field class="flex flex-col"
        appearance="legacy">
        <label for="username">Felhasználói név<sup>*</sup></label>
          <input id="username" type="username" name="username" aria-describedby="input-help" matInput  formControlName="username" />
        </mat-form-field>  
          <!-- <small class="input-help">{{usernameError}}&nbsp;</small> -->
      </div>
      <div class="flex flex-col">
        <mat-form-field class="flex flex-col"
        appearance="legacy">

        <label for="password">Jelszó<sup>*</sup></label>
        <input id="password" type="password" name="password" aria-describedby="input-help" matInput formControlName="password" />
      </mat-form-field> 
      </div>
      <div class="flex flex-col">
        <mat-form-field class="flex flex-col"
        appearance="legacy">
        <label for="password2">Jelszó újra<sup>*</sup></label>
        <input id="password2" type="password2" name="password2" aria-describedby="input-help" matInput formControlName="password2" />
        </mat-form-field>
      </div>
      <div class="">

        <mat-checkbox [disableRipple]="true" formControlName="newsletter" name="newsletter" inputId="newsletter">A hírlevelére feliratkozom</mat-checkbox>

      </div>
      <div class="">

        <mat-checkbox [disableRipple]="true" formControlName="gdpr" name="gdpr" inputId="gdpr">Elfogadom a felhasználási feltételeket Lorem, ipsum.</mat-checkbox>

      </div>
      
      <div class="flex flex-col mt-10">
        <button color="primary" mat-flat-button type="submit" label=""
        (click)="register()">FIÓK LÉTREHOZÁSA</button>
      </div>
    </form>
  </div>
</div>