<app-search (closed)="$event ? dataService.advancedSearchIsOpen=false:''" [isSearchOpen]="dataService.advancedSearchIsOpen" [displaySize]="dataService.displaySize"></app-search>




<div class="container-fluid content pb-5">
  <div id="logoMain" class="container-fluid py-3 py-lg-5">
    <div class="d-flex justify-content-center pb-5">
      <img src="./assets/img/mainlogo_sm.png" alt="" class="img-fluid py-0 py-lg-3 d-block d-lg-none" />
    </div>
    <div class="d-flex justify-content-center pb-5">
      <img src="./assets/img/mainlogo.png" alt="" class="img-fluid py-0 py-lg-3 d-none d-lg-block" />
    </div>
  </div>
  <hr class="pt-1">
  <div class="container-xxl pt-3 py-lg-5">
    <div class="row justify-content-center pt-3 py-lg-5">
      <div class="col-12 col-lg-2 p-3 text-center">
        <h3 class="title-h3 mb-3">345+</h3> recept közül válogathatsz
      </div>
      <p-divider layout="vertical" class="col-1 d-none d-lg-block"></p-divider>
      <p-divider class="col-1 d-block d-lg-none w-100"></p-divider>
      <div class="col-12 col-lg-6 p-3 text-center">
        <h3 class="title-h3 mb-3">
          <button 
          (click)="dataService.advancedSearchIsOpen=!dataService.advancedSearchIsOpen"
          class="btn "><i class="pi pi-search" style="font-size: 3rem"></i></button>
        </h3>
        <p>Egészséges ételeket keresel, vagy csak ötleteket az otthonodban megtalálható alapanyagok felhasználására?</p> <p>A recepttárban biztosan megtalálod amit szeretnél. </p>
      </div>
      <p-divider layout="vertical" class="col-1 d-none d-lg-block"></p-divider>
      <p-divider class="col-1 d-block d-lg-none w-100"></p-divider>
      <div class="col-12 col-lg-2 p-3 text-center">
      <h3 class="title-h3 mb-3">
        <button 
        [routerLink]="dataService.user.id!='' ? '/home':'/login'"
        class="btn "> <i class="pi pi-upload" style="font-size: 3rem"></i></button></h3> 
      Tölts fel saját receptet!
      </div>
    </div>
  </div>
  <hr class="pt-1">
</div>





















