<div class="container-xxl">
  <div class="title-with-divider">kiemelt receptek</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light align-items-start p-0 pt-5">
  <div class="container-fluid">
    <div class=" navbar-collapse">
      <div class="navbar-nav container-xxl justify-content-around p-0" id="borderBottom">
        <a class="nav-link fs-3 fw-normal text-uppercase px-3 py-0" aria-current="page" href="#">Népszerű receptek</a>
        <a class="nav-link fs-3 fw-normal text-uppercase px-3 py-0" href="#">Legújabb receptek</a>
        <a class="nav-link fs-3 fw-normal text-uppercase px-3 py-0" href="#">Mentes receptek</a>
        <a class="nav-link fs-3 fw-normal text-uppercase px-3 py-0" href="#">Napi ajánlat</a>
      </div>
    </div>
  </div>
</nav>
<section class="bg-warning" style="height: 500px;">

</section>
