<div class="container mx-auto py-12">
  <h2 class="title-h3 py-5 text-center">Kiemelt receptek</h2>
  <mat-tab-group mat-align-tabs="center" class="title-h4">
    <mat-tab label="Népszerű receptek"><div class="h-96">Content 1</div></mat-tab>
    <mat-tab label="Legújabb receptek"><div class="h-96">Content 2</div></mat-tab>
    <mat-tab label="Mentes receptek"><div class="h-96">Content 3</div></mat-tab>
    <mat-tab label="Napi ajánlat"><div class="h-96">Content 4</div></mat-tab>
  </mat-tab-group>
</div>
