.content{
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  /* min-height: 100vh; */

}

@media (min-width: 992px) {
.content{
  font-size: 1.5rem;
}

}