@import "../../../mixins";
@import "../../../colors";

.container{
  @include lora;
}

#h-list{
  color: $green;
}
#h-search{
  color: $info;
}
#h-upload{
  color: $orangeRedDark;
}
#logoMain{
  width: 100%;
  min-height: 700px;
  background-image: url("../../../assets/img/hero-mobile.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: top center;
}
.hero-title{
  @include poppins;
  color: $backgroundColor;
  font-size: 4rem;
  font-weight: 400;
}
.hero-subtitle{
 @include dancing;
 color: $backgroundColor;
 font-size: 2rem;
 opacity: .85;
}

#about{
  width: 100%;
}

.headline-img, .headline-txt{
  min-width: 360px;
  img{
    min-width: 100%;
  }
}

.headline-txt{
  border: 2px solid rgba($orangeRedDark, .5);
}

@media (min-width: 1024px){
  .hero-title{
    font-size: 4.0rem;
    z-index: 1;
    opacity: 0;
    animation: reveal-title 2.5s ease-out 2.0s 1 forwards;
  }
  .title-row-2{
    animation: reveal-title-2 2.0s ease-out 2.2s 1 forwards;
  }
  .hero-subtitle{
    opacity: 0;
    animation: reveal-subtitle 2.2s ease-out 3.0s 1 forwards;
  }
#logoMain{
  background-image: none;
  position: relative;
  .img-1, .img-2, .img-3, .img-4{
    position: absolute;
    width: 100%;
    height: 700px;
    opacity: 0;
    background-image: url("../../../assets/img/hero-desktop.jpg");
    background-repeat: no-repeat;
    }
    .img-1{
      background-position: center -180px;
      height: 100px;
      top: 0;
      animation: roll-in-from-left 1s ease-out 1s 1 forwards;
    }
    .img-2{
      background-position: center -280px;
      height: 300px;
      top: 100px;
      animation: roll-in-from-right 1.2s ease-out 1.1s 1 forwards;
    }
    .img-3{
      background-position: center -580px;
      height: 200px;
      top: 400px;
      animation: roll-in-from-left 1.3s ease-out 1.2s 1 forwards;
    }
    .img-4{
      background-position: center -780px;
      height: 100px;
      top: 600px;
      animation: roll-in-from-right 1.1s ease-out 1.2s 1 forwards;
    }
  }
  @keyframes reveal-subtitle {
    0%{
      opacity: 0;
    }
    100% {
      opacity: .85;
    }
  }
  @keyframes reveal-title {
    0%{
      opacity: 0;
      transform: translateX(25px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal-title-2 {
    0%{
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes roll-in-from-left {
    0% {
      opacity: 0;
      left: -150%;
    }
    100% {
      left: 0%;
      opacity: 1;
    }
  }
  @keyframes roll-in-from-right {
    0% {
      opacity: 0;
      right: -150%;
    }
    100% {
      right: 0%;
      opacity: 1;
    }
  }
}
@media (min-width: 1280px) {
 
 .hero-title{
  font-size: 6rem;
  font-weight: 400;
}
.hero-subtitle{
  font-size: 3rem;

}
}