<div class="container mx-auto lora">
  <div id="logoMain" class="flex flex-col justify-center px-10">
    <div class="hero-title">RECEFICE</div>
    <div class="hero-title">RECEPTTÁR</div>
    <div class="hero-subtitle">A szakácskönyv,</div>
    <div class="hero-subtitle">ami mindig kéznél van.</div>
  </div>
  <div class="mt-32">
    <app-divider title="A kínálatból" subtitle="Válogass"></app-divider>
  </div>
  <div id="about" class="grid grid-rows-6 md:grid-rows-3 xl:grid-rows-2 grid-flow-col gap-0 md:gap-16 pt-28 justify-center md:justify-between">
    <div class="border headline-img order-2 xl:order-1"><img src="../../../assets/img/donuts.jpg" alt=""></div>
    <div class="border headline-txt order-1 xl:order-2 flex flex-col items-center justify-around p-10 text-center">
      <div class="title-h3">Részletes kereső</div>
      <app-divider small="true"></app-divider>
      <div>Egészséges ételeket keresel, vagy csak ötleteket az otthonodban megtalálható alapanyagok felhasználására?</div>
      <div>A recepttárban biztosan megtalálod amit szeretnél.</div>
    </div>
    <div class="headline-txt order-3 flex flex-col items-center justify-around p-10 text-center">
      <div class="title-h3">Receptek</div>
      <app-divider small="true"></app-divider>
      <div>Több mint 234 darab</div>
      <div>különféle recept közül válogathatsz.</div>
    </div>
    <div class="border headline-img order-4"><img src="../../../assets/img/korean.jpg" alt=""></div>
    <div class="border headline-img order-6  xl:order-5"><img src="../../../assets/img/decorating.jpg" alt=""></div>
    <div class="border headline-txt order-5  xl:order-6 flex flex-col items-center justify-around p-10 text-center">
      <div class="title-h3">Receptfeltöltés</div>
      <app-divider small="true"></app-divider>
      <div>Ismersz egy remek receptet, amit megosztanál másokkal? Van saját ételkülönlegességed, specialitásod?</div>
      <div>Mutasd meg mit tudsz, ne habozz! Tölts fel saját receptet!</div>
    </div>
  </div>
</div>





















