@import "../../../mixins";
@import "../../../colors";

.container{
  @include lora;
}

#h-list{
  color: $green;
}
#h-search{
  color: $info;
}
#h-upload{
  color: $orangeRedDark;
}
#logoMain{
  width: 100%;
  min-height: 700px;
  background-image: url("../../../assets/img/hero-mobile.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: top center;
}
.hero-title{
  @include poppins;
  color: $backgroundColor;
  font-size: 3.25rem;
  font-weight: 400;
}
.hero-subtitle{
 @include dancing;
 color: $backgroundColor;
 font-size: 2rem;
 opacity: .85;
}

#about{
  width: 100%;
}

.headline-img, .headline-txt{
  min-width: 360px;
  img{
    min-width: 100%;
  }
}

.headline-txt{
  border: 2px solid rgba($orangeRedDark, .5);
}

@media (min-width: 1024px){
  
  
  .hero-subtitle{
    opacity: 0;
    animation: reveal-subtitle 2.2s ease-out 1.9s 1 forwards;
  }
#logoMain{
  background-image: none;
  position: relative;
  div{
    overflow: hidden;
    .hero-title{
      font-size: 4.0rem;
      z-index: 1;
      opacity: 0;
      animation: reveal-title 0.9s ease-out 0.9s 1 forwards;
    }
    .title-row-2{
    animation: reveal-title-2 0.9s ease-out 0.9s 1 forwards;
    }
  }
  .img-1, .img-2, .img-3, .img-4{
    position: absolute;
    width: 100%;
    height: 700px;
    opacity: 0;
    background-image: url("../../../assets/img/hero-desktop.jpg");
    background-repeat: no-repeat;
    }
    .img-1{
      background-position: center -180px;
      height: 100px;
      top: 0;
      left: 0;
      animation: roll-in-from-left 0.6s ease-out 0.3s 1 forwards;
    }
    .img-2{
      background-position: center -280px;
      height: 300px;
      top: 100px;
      right: 0;
      animation: roll-in-from-right 0.7s ease-out 0.2s 1 forwards;
    }
    .img-3{
      background-position: center -580px;
      height: 200px;
      top: 400px;
      left: 0;
      animation: roll-in-from-left 0.5s ease-out 0.4s 1 forwards;
    }
    .img-4{
      background-position: center -780px;
      height: 100px;
      top: 600px;
      right: 0;
      animation: roll-in-from-right 0.4s ease-out 0.6s 1 forwards;
    }
  }
  @keyframes reveal-subtitle {
    0%{
      opacity: 0;
    }
    100% {
      opacity: .85;
    }
  }
  @keyframes reveal-title {
    0%{
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal-title-2 {
    0%{
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes roll-in-from-left {
    0% {
      opacity: 0;
      width: 0;
      // left: -150%;
    }
    100% {
      width: 100%;
      right: 0%;
      opacity: 1;
    }
  }
  @keyframes roll-in-from-right {
    0% {
      opacity: 0;
      width: 0;
      //right: -150%;
    }
    100% {
      width: 100%;
      right: 0%;
      opacity: 1;
    }
  }
}
@media (min-width: 1280px) {
  #logoMain{
    div{
      .hero-title{
        font-size: 6rem;
        font-weight: 400;
      }
    }
  
  .hero-subtitle{
    font-size: 3rem;
  }
}
}