<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container bg-dark">
  <div class="slide-up-container container-xxl text-light">
    <div class="row">
    
    <div class="mb-3 col-3">
      <label for="exampleFormControlInput1" class="form-label">Kategóriák</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3 col-3">
      <label for="exampleFormControlInput1" class="form-label">Nemzetközi konyha</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3 col-3">
      <label for="exampleFormControlInput1" class="form-label">Nehézség</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3 col-3">
      <label for="exampleFormControlInput1" class="form-label">Ár</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3 col-3">
      <label for="exampleFormControlInput1" class="form-label">Kategóriák</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, nulla. Facere reprehenderit deleniti inventore culpa accusamus, modi minus adipisci nisi, dolore optio doloremque minima vero facilis tempora saepe sequi corporis?
      Repudiandae alias qui minima ratione dolorum maiores similique cum id! Est, delectus asperiores. Natus, quos, reprehenderit dolores molestias, veniam itaque voluptas delectus similique ducimus debitis dolorem nulla repellat. Ratione, recusandae!
      Ad, nobis. Porro delectus voluptatem cupiditate modi dolore minus ea nisi nemo, optio doloremque perferendis necessitatibus aliquam, aut deleniti ab sit eius alias at repellat autem. Aspernatur harum id nobis.
      Laboriosam fuga inventore, pariatur eligendi nostrum aliquam reprehenderit sed eos qui necessitatibus repudiandae. Provident omnis eveniet ullam cupiditate? Beatae consequuntur omnis nulla officiis, laboriosam cum vero consequatur exercitationem ut a.</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, nulla. Facere reprehenderit deleniti inventore culpa accusamus, modi minus adipisci nisi, dolore optio doloremque minima vero facilis tempora saepe sequi corporis?
        Repudiandae alias qui minima ratione dolorum maiores similique cum id! Est, delectus asperiores. Natus, quos, reprehenderit dolores molestias, veniam itaque voluptas delectus similique ducimus debitis dolorem nulla repellat. Ratione, recusandae!
        Ad, nobis. Porro delectus voluptatem cupiditate modi dolore minus ea nisi nemo, optio doloremque perferendis necessitatibus aliquam, aut deleniti ab sit eius alias at repellat autem. Aspernatur harum id nobis.
        Laboriosam fuga inventore, pariatur eligendi nostrum aliquam reprehenderit sed eos qui necessitatibus repudiandae. Provident omnis eveniet ullam cupiditate? Beatae consequuntur omnis nulla officiis, laboriosam cum vero consequatur exercitationem ut a.</div>
      </div>
  </div>
</div>
