<div
  [@openClose]="isOpen ? 'open' : 'closed'"
  class="open-close-container bg-dark"
  style="transform-origin: top;">
  <div 
 
  class="slide-up-container container-xxl text-light pt-3">
    <div class="row justify-content-between">
      <div class="col-4 mb-5 d-none d-md-block"></div>
      <div class="col-4 mb-5 p-0 border bg-secondary text-center"><input type="text" class="form-control" placeholder="keresés..."></div>
      <div class="col-4 mb-5 d-none d-md-block"></div>
      <div class="my-3 col-12 col-md-4">
        <label for="" class="form-label">Kategória</label>
        <ng-multiselect-dropdown
          [placeholder]="'Bármely'"
          [settings]="dropdownSettings"
          [data]="dataService.categoryList"
          [(ngModel)]="selectedItems.category"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (ngModelChange)="pillChange($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="my-3 col-12 col-md-4">
        <label for="" class="form-label">Nehézség</label>
        <ng-multiselect-dropdown
        [placeholder]="'Bármely'"
        [settings]="dropdownSettings"
        [data]="dataService.difficulityList"
        [(ngModel)]="selectedItems.difficulity"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (ngModelChange)="pillChange($event)"
        >
      </ng-multiselect-dropdown>
    </div>
    <div class="my-3 col-12 col-md-4">
      <label for="" class="form-label">Ár</label>
      <ng-multiselect-dropdown
        [placeholder]="'Bármely'"
        [settings]="dropdownSettings"
        [data]="dataService.costList"
        [(ngModel)]="selectedItems.cost"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (ngModelChange)="pillChange($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="my-3 col-12 col-md-6">
      <label for="" class="form-label">Címke</label>
        <ng-multiselect-dropdown
          [placeholder]="'Bármely'"
          [settings]="dropdownSettings"
          [data]="dataService.labelList"
          [(ngModel)]="selectedItems.label"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (ngModelChange)="pillChange($event)"
        >
        </ng-multiselect-dropdown>
      </div>
     
    <div class="my-3 col-12 col-md-6">
      <label for="" class="form-label">Nemzetközi</label>
      <ng-multiselect-dropdown
        [placeholder]="'Bármely'"
        [settings]="dropdownSettings"
        [data]="dataService.nationalityList"
        [(ngModel)]="selectedItems.nationality"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (ngModelChange)="pillChange($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    
      
    </div>

    <!-- [(ngModel)]="selectedItems" -->

    <!-- <div class="container-xxl">
      <div class="row">
        <div *ngIf="dataService.categoryList.length != 0" class="col-2">
          Kategóriák
          <p *ngFor="let item of dataService.categoryList">
            {{ item.id }} - {{ item.name }} - {{ item.selected }}
          </p>
        </div>
        <div *ngIf="dataService.nationalityList.length != 0" class="col-2">
          Nemzetközi
          <p *ngFor="let item of dataService.nationalityList">
            {{ item.id }} - {{ item.name }} - {{ item.selected }}
          </p>
        </div>
        <div *ngIf="dataService.difficulityList.length != 0" class="col-2">
          Nehézség
          <p *ngFor="let item of dataService.difficulityList">
            {{ item.id }} - {{ item.name }} - {{ item.selected }}
          </p>
        </div>
        <div *ngIf="dataService.costList.length != 0" class="col-2">
          Ár
          <p *ngFor="let item of dataService.costList">
            {{ item.id }} - {{ item.name }} - {{ item.selected }}
          </p>
        </div>
        <div *ngIf="dataService.labelList.length != 0" class="col-2">
          Címkék
          <p *ngFor="let item of dataService.labelList">
            {{ item.id }} - {{ item.name }} - {{ item.selected }}
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>
