<h2 class="fs-1 text-uppercase text-center m-0 py-5 bg-light">receptfeltöltés</h2>
<h3 class="fs-4 text-uppercase text-center m-0 py-5 bg-light">if logged in - tölts fel recepteket!</h3>
<h3 class="fs-4 text-uppercase text-center m-0 py bg-light">else - <i>Jelentkezz be</i> és tölts fel recepteket!</h3>
<h3 class="fs-4 text-uppercase text-center m-0 py bg-light">vagy <i>csatlakozz</i> közösségünkhöz, ha még nincs felhasználói fiókod!</h3>
<section class="bg-warning" style="height: 500px;"></section>
