<div class="container-fluid content">
  <div class="container-xl ">
    <p-divider></p-divider>
    <div class="row py-5 my-5 justify-content-center">
      <div class="col-12 col-lg-3" >
        <h4 class="title-h4 text-center">Feliratkozás hírlevélre</h4><br>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Email cím">         
            <button type="button" pButton pRipple label="Feliratkozás" class="p-button-danger"></button>
        </div>
      </div>
    </div>
  </div>
</div>
