@import "../../../mixins";

.pantry {
  img {
    max-width: 360px;
    width: 100%;
    height: auto;
  }
}

.content p {
  @include lora;
}

@media screen and (min-width: 768px) {
  .pantry {
    img {
      max-width: 680px;
    }
  }
}
