<div>
  <ng-container *ngIf="recipe">
    <p *ngIf="recipe.reviews.length == 0" class="my-5 created">Nem érkezett még értékelés</p>
    <mat-card [style.background]="review.userId == userId ? 'gainsboro':''" class="example-card my-5" *ngFor="let review of recipe.reviews">
      <div class="flex flex-row justify-start ">
        <div class="mx-2 basis-1/8">
          <img class="rounded-full mr-5" 
          [src]="review.avatar === '' ? 'assets/img/empty-profile.png':review.avatar" alt="" width="75"
          >
        </div>
        <div class="uppercase title basis-1/2 ml-5">
          <div>{{review.userName}}</div> 
          <span class="normal-case rating-lead">Értékelése:
              <ng-container *ngFor="let rv of [].constructor(5); let i = index">
               <span class="rating" *ngIf="i < review.rating">&#9733;</span>
           
              </ng-container>
            </span> 
           
        </div>
        <div class="basis-full text-right">
          <div class="created">{{review.created | date:'yyy. MM. d. H:ss'}}</div>
        </div>
      </div>
      <mat-card-content class="mx-10 my-5">
        <p>
          {{review.moderated == '0' ? review.comment:'Moderálva'}}
        </p>
      </mat-card-content>
      
    </mat-card>
  </ng-container>
</div>
