<div class="m-5">
  <ng-container *ngIf="recipe">
    {{stars}}
    <mat-card class="example-card my-5" *ngFor="let review of recipe.reviews">
      <div class="flex flex-row justify-start ">
        <div class="m-2 basis-1/8">
          <img class="rounded-full mr-5" src="https://picsum.photos/50/50" alt="">
        </div>
        <div class="uppercase title basis-1/2 ml-5">
          <div>{{review.userName}}</div> 
          <span class="normal-case rating-lead">Értékelése:
              <ng-container *ngFor="let rv of [].constructor(5); let i = index">
               <span class="rating" *ngIf="i < review.rating">&#9733;</span>
           
              </ng-container>
            </span> 
           
        </div>
        <div class="basis-full text-right">
          <div class="created">{{review.created}}</div>
        </div>
      </div>
      <mat-card-content class="mx-10 my-5">
        <p>
          {{review.comment}}
        </p>
      </mat-card-content>
      
    </mat-card>
  </ng-container>
</div>
