@import "../../../../colors.scss";
@import "../../../../mixins.scss";

.container {
  font-size: 15px;
  font-family: $fontOswald;
}
button {
  @include oswald;
  letter-spacing: 0.05rem;
}
.mat-icon {
  font-size: 1.75rem;
  height: 1.75rem;
  width: 1.75rem;
}

.recipe-card {
  border-bottom: 1px solid rgba($textColor, 0.2);
  max-width: 360px;
}
span {
  color: rgba($textColor, 0.2);
}
