$orangeRed: rgb(255, 112, 85); /*#ff7055*/
$orangeRedDark: #df3e10;
$textColor: #2d3a4b;
$textColor: #2d3a4b;
 
//$textColor: #1e2732;
// $textColorRGB: 45, 58, 75;
$textColorMuted: #8e9092;
$backgroundColor: #fffef7;
// $backgroundColor: #fcf9f5;
$backgroundColorDarker: #eae8e0;

$green: #0A8754;
$info: #2292A4;
$grey: #EAE0D5;
