$fontSource: "Source Sans Pro", sans-serif;
$fontLora: "Lora", sans-serif;
$fontOswald: "Oswald", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$fontDancing: "Dancing Script", cursive;

@mixin source{
  font-family: $fontSource;
  font-size: 1.30rem;
  text-transform:none;
  font-weight: 400;
  font-style: normal;
}

@mixin source-upper{
  font-family: $fontSource;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
}
@mixin lora{
  font-family: $fontLora;
  font-size: 1.20rem;
  font-weight: 100;
}
@mixin lora-italic{
  font-family: $fontLora;
  font-size: 1.30rem;
  font-weight: 400;
  font-style: italic;
}
@mixin oswald{
  font-family: $fontOswald;
  font-size: 1.20rem;
  font-weight: 400;
}
@mixin poppins{
  font-family: $fontPoppins;
  font-size: 1.20rem;
  font-weight: 400;
}
@mixin dancing{
  font-family: $fontDancing;
  font-size: 1.20rem;
  font-weight: 400;
}