@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
  /* --orangeRed: rgb(255, 112, 85); #ff7055 */
  --orangeRed: rgb(255, 112, 85); /*#ff7055*/
  --orangeRedDark: #df3e10;
  /* --textColor: #2c3b4b; */
  --textColor: #2d3a4b;
  --textColorRGB: 45, 58, 75;
  --textColorMuted: #8e9092;
  --backgroundColor: #fffef7;
  --backgroundColorDarker: #eae8e0;

  /*8e9092*/
  --aa: #DF3E10;
  --ab: #2D3A4B;
  --ac: #EAE0D5;
  --ad: #2292A4;
  --ae: #0A8754;

  /*
  DF3E10
  2D3A4B
  EAE0D5
  2292A4
  0A8754
  */
}

body,
html {
  color: var(--textColor)!important;
  background: var(--backgroundColor)!important;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif!important;
}
.btn:focus,
.btn:active,
input:focus,
.input,
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #ced4da;
}
.lora{
  font-family: "Lora", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  font-style: normal;
}
.lora-i{
  font-family: "Lora", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  font-style: italic;
}
.title-h4{
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: normal;
}
.title-h3{
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: normal;
}
.title-h2{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 3.0rem;
  text-transform: uppercase;
  font-style: normal;
}
.title-h1{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-style: normal;
}


.title-with-divider {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  border-bottom: 3px solid var(--textColor);
}
.mat-tooltip{
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
}
@media (min-width: 992px) {
  body,
  html {
    font-size: 12px;
  }

}
html, body { height: 100%; }
body { margin: 0; }
