.filter-item {
  font-family: "Lora", serif;
  font-size: 1rem;
  font-style: italic;
}

#s-modal {
  top:60px;
  left: 50%;
  position: fixed;
  /* padding-top: 50px; */
  transform-origin: center;
  width: 100%; /* Full width */
  height: 140vh; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(45, 58, 75, 0.95); /* Black w/ opacity */
  z-index: 5;
  transform: translate(-50%,0);
}
#s-content {
  background: var(--backgroundColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 992px) {
  #s-modal {
    top: 0;
    
    padding: 100px;
    height: 100vh;
    background-color: rgba(45, 58, 75, 0.7); /* Black w/ opacity */
  }
}
