<h4 mat-dialog-title class="mat-typography text-2xl normal-case">Profilkép feltöltése</h4>
<div class="underline-bold"></div>
<div  class="content">
  <div action="" class="flex flex-col lg:flex-row lg:flex-wrap lg:gap-5 lg:justify-between">
    <input
    #avatar_file_input
    type="file"
    [accept]="accept"
    hidden
    (change)="handleFile($event.target.files)"
    />
    
  </div>
</div>
<div class="underline-normal my-6"></div>
<div>{{selected | json}}</div>
<div mat-dialog-actions class="flex flex-row justify-between">
  
  <button mat-button [mat-dialog-close]="false" >Mégsem</button>
  <button color="primary" mat-button (click)="openInput()" [disabled]="isLoading || !selected">Feltöltés</button>
</div>
