<div class="my-5">
  <div class="flex gap-5 my-5 items-center title-bg-warn px-2 py-3">
    <mat-icon class="">list</mat-icon>
    <h3 class="title-h5 inline-block">Hasonló receptek</h3>
  </div>
  <div class="slider pt-5">
    <owl-carousel-o 
    
    [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of recipe?.image; index as i">
        <div class="border flex flex-col justify-start">
          <div>
            <img [src]="slide">
          </div>
        </div>
      </ng-template>
      
    </owl-carousel-o>
  </div>
 
</div>

