<div class="my-5">
  <div class="slider">
    <owl-carousel-o 
    
    [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of recipe?.image; index as i">
        <div class="h-52 border flex flex-col justify-start">
          <div>
            <img [src]="slide">
          </div>
          <div>
            NUMBER {{i}} RECI
          </div>

        </div>
      </ng-template>
      
    </owl-carousel-o>
  </div>
  <div class="description flex justify-between">
    <div>
      <div>Elkészítési idő</div>
      <div>{{recipe?.cookingTime}}</div>
    </div>
    <div>
      <div>Nehézség</div>
      <!-- <div>{{recipe?.difficultyName(dataService.difficultyList)}}</div> -->
    </div>
    <div>
      <div>Költség</div>
      <!-- <div>{{recipe?.costName(dataService.costList)}}</div> -->
    </div>
    <div>
      <div>Konyha</div>
      <!-- <div>{{recipe?.nationalityName(dataService.nationalityList)}}</div> -->
    </div>
  </div>
 
  
  <!-- <p>{{recipe?.categoryName(dataService.categoryList)}}</p> -->
</div>

